* {
  box-sizing: border-box;
}
body {
  height: auto;
  padding-top: 50px;
  background-color: white;
}
.row {
  display: flex;
  justify-content: space-between;
}
.column1 {
  float: left;
}

.column3 {
  float: right;
}
img {
  height: 300px;
}
.bx {
  display: flex;
  align-items: center;
  background-color: rgb(240, 152, 196);
  border-radius: 5px;
  padding: 10px;
}
.card {
  height: 200px;
  width: 250px;
  padding: 10px;

  text-align: center;
}

@media screen and (max-width: 600px) {
  .column2,
  .column1,
  .column3 {
    display: grid;
    flex: 100%;
    max-width: 100%;
    font-size: 15px;
  }
  .row {
    display: grid;
    justify-content: center;
    max-width: 100%;
  }
  .column3 .row {
    display: grid;
    justify-content: center;
    max-width: 100%;
  }
}
