* {
  box-sizing: border-box;
}
body {
  padding-top: 20px;
  background-color: white;
}
.row1 {
  padding-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  gap: 2;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 33%;
  padding: 15px;
  margin-top: 8px;
  margin: 1px;
  height: auto;
  overflow: hidden;
  text-align: center;
  box-shadow: 5px 5px 15px rgb(247, 239, 239);
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .card {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    font-size: 15px;
  }
}

/* selected link */
.cont:active {
  color: #f5f5fc;
  padding: 10px;
  background-color: rgba(250, 250, 243, 0.353);
}
